<%= link_to 'Back', article_path(@article) %>

<h1>Add a comment to "<%= @article.title %>"</h1>

<%= render 'form' %>

<br><br><br>
<hr>
<div class="navigation">
  <%= link_to 'List of articles', articles_path %> &#124; <%= link_to 'Home', root_path %>
</div>



