<%= link_to 'Edit', edit_article_path %>


<h1><%= @article.title %></h1>

<div class="show_article_section">
  <i><%= @article.name %></i>
</div>

<div class="show_article_section">
  <%= simple_format @article.text %>
</div>

<br><br><br>
<hr>
<div class="navigation">
  <%= link_to 'List of articles', articles_path %> | <%= link_to 'Home', root_path %>
</div>

